# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Autotools
Makefile
Makefile.in
autom4te.cache/
config.log
config.status
libtool
aclocal.m4
compile
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
src/.deps/
src/.libs/
src/Makefile
src/Makefile.in

# Eclipse project files
.autotools
.cproject
.project
.settings/

